@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.todoitem {
  background-color: #70a876;
  background-color: #f1b323d0;
  background-color: #e2aa28;
  min-width: 10rem;
  max-width: 32rem;
  height: fit-content;
  max-height: 19rem;

  font-size: 16px;
  color: #000;
  border: 4px solid green;
  box-shadow: 1px 3px 8px #e0a10cd0;
  border-radius: 10px;
  margin: 2rem 2rem;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  --scrollbarBG: #000;
  --thumbBG: #e2aa28;
  scrollbar-width: 10px;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  letter-spacing: 2px;
}

.todoitem::-webkit-scrollbar {
  width: 10px;
}
.todoitem::-webkit-scrollbar-track {
  background-color: var(--scrollbarBG);
}

.todoitem::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 15px;
  border: 3px solid var(--scrollbarBG);
}
.todoitem .todoHead {
  display: flex;
  flex-direction: column;
}
.todoitem .todo_actions {
  display: flex;
  justify-content: space-between;
}
.btn-fav {
  border-radius: 30px;
  border: none;
  border-color: #ffebcd;
  background: transparent;
  height: 100%;
}
.btn-fav:hover {
  cursor: pointer;
}
.delete {
  width: 50px;
  height: 50px;
  background: url("./../../assets/cross.svg") no-repeat;
  display: inline-block;
}
.delete:hover {
  background: url("./../../assets/cross_red.svg") no-repeat;
  cursor: pointer;
}
.todoitem hr {
  margin: 0 0;
}
.todoitem .date-time {
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}
.todoitem .date {
  display: inline;
}
.todoitem .time {
  display: inline;
}
.todoitem .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todoitem .title {
  max-width: 20rem;
  /* overflow-y:hidden; */
  overflow:hidden;
  /* overflow-y:hidden; */
  cursor: pointer;
  font-size: 3rem;
  margin: 0 0;
  text-align: center;
  /* word-wrap: break-all; */
  padding: 0.5rem;
}
.todoitem .more-info {
  cursor: pointer;
  height: 31px;
  width: 31px;
  background: rgba(245, 251, 239, 0.8);
  border-radius: 5px;
}
.todoitem .description {
  font-size: 2rem;
  text-align: justify;
}
.divider {
  margin: 0;
}
.card-body {
  padding: 0.5rem;
  cursor: pointer;
}
.expand {
  width: 32rem;
}
