@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.AddTodo {
  display: flex;
  flex-direction: column;
  height: 40rem;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  padding: 1rem 5rem;
  margin: auto;
  margin-top: 4rem;
  background-color: #f1b323d0;
  border-radius: 10px;
  border: 2px solid #f7b757;
}
.AddTodo .head .body {
  display: block;
}
.AddTodo h2 {
  font-size: 5rem;
  margin: 0 0.25rem;
}
.AddTodo label {
  display: block;
  align-items: left;
  width: fit-content;
  text-align: left;
  font-size: 3rem;
  user-select: none;
}
.AddTodo input {
  padding: 0.5rem;
  border-radius: 15px;
  font-weight: bold;
  width: 100%;
  max-width: 90%;
  font-size: 1.75rem;
  letter-spacing: 2px;
  outline: none;
}
.AddTodo textarea {
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem;
  resize: none;
  width: 100%;
  max-width: 90%;
  border-radius: 10px;
  letter-spacing: 2px;
  outline: none;
}
.AddTodo .controls {
  display: flex;
  line-height: 4rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.AddTodo .controls button {
  font-size: 1.5rem;
}
.AddTodo .tooltip {
padding-top: 12px;
bottom: 0;
}
.AddTodo .controls i {
  font-size: 3rem;
  cursor: pointer;
  height: 100%;
  place-self: center;
}
.AddTodo .controls i:hover ~ i {
  color: red;
}
.AddTodo .controls .btn-add {
  border-radius: 10px;
  background: transparent;
  font-weight: bold;
  transition: all .2s;
}
.AddTodo .controls .btn-fav {
  border-radius: 30px;
  border: none;
  border-color: #ffebcd;
  background: transparent;
  height: 100%;
  transition: all .2s;
}
.AddTodo .controls .btn-add:hover {
  color: #bd4f6c;
  transform: scale(1.2);
}
.AddTodo .controls .btn-fav:hover {
transform: scale(1.2);
}
.AddTodo .controls button:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .input-title {
    width: 100%;
  }
  .AddTodo h2 {
    font-size: 3rem;
  }
  .AddTodo label {
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .input-title {
    width: 100%;
  }
  .AddTodo h2 {
    font-size: 2rem;
  }
  .AddTodo label {
    font-size: 1.5rem;
  }
}
