/*body {
  min-height: 100vh;
}*/
.card-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.card {
  color: black;
  background: white;
  padding: 3rem 5rem;
  font-family: sans-serif;
  width: fit-content;
}
.card p {
  padding-top: 1rem;
  line-height: 150%;
}
.expand {
  width: 35rem;
}
